apiVersion: apps/v1
kind: Deployment
metadata:
  name: database
  namespace: hackademy-k8s
spec:
  replicas: 1
  selector:
    matchLabels:
      app: database
  template:
    metadata:
      labels:
        app: database
    spec:
      containers:
        - name: mysql
          image: aradiaetreshka/database:v2
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: mysql-root-password
            - name: MYSQL_DATABASE
              value: hackademy

---
apiVersion: v1
kind: Service
metadata:
  name: database
  namespace: hackademy-k8s
spec:
  selector:
    app: database
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306
  type: ClusterIP 